<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PERSON</title>
</head>
<body>

<h2>Person</h2>

<a th:text="${person}">Value</a><br/>
<a th:text="${'Name - ' + person.getName() + '.'}">Value</a><br/>
<a th:text="${'Age - ' + person.getAge() + '.'}">Value</a><br/>
<a th:text="${'Email - ' + person.getEmail() + '.'}">Value</a>

<br/>
<hr/>

<form  th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <button>Edit person</button>
</form>

<br/>

<form  th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <button>Delete person</button>
</form>
</body>
</html>